body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    position: relative;
    border: 2px solid #FF9AAA;
}

input {
    border: none;
    border-bottom: 2px solid #FF9AAA;
    position: absolute;
    width: 311px;
    outline: none;
    font-size: 21px;
    padding-bottom: 10px;
}

#registerLogin {
    background-color: white;
    color: #FF9AAA;
    border: none;
    border-bottom: 2px solid #FF9AAA;
    position: absolute;
    font-size: 21px;
    left: 273px;
    top: 823px;
}

#registerLogin:hover{
    cursor: pointer;
}

#emailLogin {
    left: 50px;
    top: 645px;
}

#passwordLogin {
    left: 50px;
    top: 719px;
}

.hidden {
    display: none;
}